## OOPs concepts

In [ ]:
class ClassName:
    class_variable = 123
    
    def __init__(self, var1, var2):
        self.var1 = var1
        self.var2 = var2
        # instance variables
        
object1 = className(var1, var2)

In [5]:
class Car:
    car_count = 0 # class variable
    
    def __init__(self, name, cost): # Constructor or initialisation
        self.name = name
        self.cost = cost
        Car.car_count += 1
    
    def vehicleCount(self): # Instance method
        print("Vehicle count is %d" % Car.car_count)
    
    def displayCarDetails(self):
        print('Name: ', self.name, ", cost: ", self.cost)

## String Formatting

In [23]:
print("Name is {name} and age is {age}".format(name = "Hari", age = 21))

Name is Hari and age is 21

In [6]:
# Objects of a class
car1 = Car("Honda", 12334)
car2 = Car("Hyundai", 768679)

In [7]:
car1.displayCarDetails()

Name:  Honda , cost:  12334

In [8]:
car1.vehicleCount()

Vehicle count is 2

In [9]:
car3 = Car("BMW", 9874354)

In [10]:
car3.displayCarDetails()

Name:  BMW , cost:  9874354

In [11]:
car3.vehicleCount()

Vehicle count is 3

In [26]:
hasattr(car1, 'cost')

True

In [28]:
setattr(car1, 'cost', 5465)

In [29]:
getattr(car1, 'cost')

5465

## Inheritance

class ChildClass(ParentClass1, ParentClass2,...): <br>
execution is from left to right. <br>

ChildClass=>ParentClass1=>ParentClass2

In [38]:
class ParentClass:
    def __init__(self):
        print("Parent class constructor")
    
    def ParentMethod(self):
        print("This is a parent method")
    
    def numeric_values(self):
        for num in range(10):
            print(num)
    
    
    


class ChildClass(ParentClass):
    def __init__(self):
        print("Child class constructor")
    
    def ChildMethod(self):
        print("This is a child method")
    
    def numeric_values(self): # Method overriding
        for num in range(15):
            print(num)

In [39]:
child_obj = ChildClass()
child_obj.ChildMethod()

Child class constructor
This is a child method

In [40]:
child_obj.ParentMethod()

This is a parent method

In [41]:
child_obj.numeric_values()

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [44]:
# Method Overloading

def multiply(num1, num2):
    return num1*num2

In [45]:
multiply(1,2)

2

In [46]:
def multiply(num1, num2, num3):
    return num1*num2*num3

In [47]:
multiply(1, 2, 3)

6

In [48]:
# Private, public variables

class Vehicle:
    __counter = 0
    counter
    def count():

## Overloading operators

In [57]:
class Arithematic:
    def __init__(self, num1, num2):
        self.num1 = num1
        self.num2 = num2
    
    def __str__(self):
        return 'Arithematic (%d, %d)' % (self.num1, self.num2)
    
    def __add__(self, some_vale):
        return Arithematic(self.num1 + some_vale.num1, self.num2 + some_vale.num2)

In [58]:
expr1 = Arithematic(3, 5)
expr2 = Arithematic(6, 9)

In [59]:
print(expr1+expr2)

Arithematic (9, 14)

In [ ]:
# Magic methods