# Conditionals

## Note: Python executes from top to bottom and left to right

#Types:

if
if else
multiple if
elif

In [ ]:
number = 4

# elif

In [ ]:
if number%2 == 0:
    print("This is an even number")
elif number%3 == 1:
    print("This is an odd number")
elif number%4 == 0:
    print("This is a multiple of 3")
else:
    print("Above conditions are Not satisfied, so default else condition is returned")

# Multiple if

In [ ]:
if number%2 == 0:
    print("This is an even number")
if number%3 == 1:
    print("This is an odd number")
if number%4 == 0:
    print("This is a multiple of 3")

In [ ]:
2%2

In [ ]:
2/2

2//2

 ## Looping

# for, while

In [ ]:
for char in 'bangalore':
    print(char)

In [ ]:
for num in range(1, 11):
    print(num)

In [ ]:
for num in range(1, 11):
    if num%2 == 0:
        print('num {} is even'.format(num)) # String formatting
    elif num%2 == 1:
        print('num {} is odd'.format(num))

In [ ]:
num = 1

In [ ]:
while 1 < 5:
    print("before", num)
    num += 1
    print("after", num)

# Data Structures

# Types: list, tuple, dictionary, set

# List:
ordered collection of heterogeneous elements of different types
Indexing (-ve and +ve)

Mutable, means you can change the list after creating

In [2]:
cities = ['bangalore', 'hyderabad', 'newyork', 'shangai', 'dhubhai']

In [27]:
cities[-3]

'chicago'

In [10]:
cities[::2]

['bangalore', 'newyork', 'dhubhai']

In [ ]:
['hyderabad', 'newyork', 'shangai']

In [ ]:
['bangalore', 'newyork', 'dhubhai']

In [11]:
cities.index('hyderabad')

1

In [12]:
cities.append('california')

In [13]:
cities

['bangalore', 'hyderabad', 'newyork', 'shangai', 'dhubhai', 'california']

In [14]:
cities1 = ['chennai', 'delhi', 'san fransisco', 'chicago']

In [15]:
cities.extend(cities1)

In [16]:
cities

['bangalore',
 'hyderabad',
 'newyork',
 'shangai',
 'dhubhai',
 'california',
 'chennai',
 'delhi',
 'san fransisco',
 'chicago']

In [17]:
cities2 = ['seattle', 'Beijing', 'London', 'paris']

In [18]:
cities.append(cities2)

In [19]:
cities

['bangalore',
 'hyderabad',
 'newyork',
 'shangai',
 'dhubhai',
 'california',
 'chennai',
 'delhi',
 'san fransisco',
 'chicago',
 ['seattle', 'Beijing', 'London', 'paris']]

In [21]:
len(cities)

11

In [22]:
cities.append(1)

In [23]:
cities

['bangalore',
 'hyderabad',
 'newyork',
 'shangai',
 'dhubhai',
 'california',
 'chennai',
 'delhi',
 'san fransisco',
 'chicago',
 ['seattle', 'Beijing', 'London', 'paris'],
 1]

In [30]:
cities[::-1] # Reverse a string

[1,
 ['seattle', 'Beijing', 'London', 'paris'],
 'chicago',
 'san fransisco',
 'delhi',
 'chennai',
 'california',
 'dhubhai',
 'shangai',
 'newyork',
 'hyderabad',
 'bangalore']

In [ ]:
positive_indexes [0,1,2,3,....]
negative_indexes [....,-3,-2,-1]

## Tuple

Immutable
ordered
heterogeneous
it can be used as a key for dictionary

In [31]:
numbers = (1,2,3,4)

## Dictionary

key value pairs
separate with comma (,)
key and value separate with colon (:)
Un unordered collection of data
the keys are immutable

In [32]:
employee_details = {'name':'Kiran',
                   'age': 20,
                   'salary':40000,
                   'phone_numer': 12233442233}

In [35]:
employee_details

{'name': 'Kiran', 'age': 20, 'salary': 40000, 'phone_numer': 12233442233}

In [34]:
type(employee_details)

dict

In [38]:
employee_details['name']

'Kiran'

In [39]:
details = employee_details.keys()

dict_keys(['name', 'age', 'salary', 'phone_numer'])

In [43]:
type(employee_details.values())

dict_values

Assignment:

list = ['bangalore', 'hyderabad', 'newyork', 'shangai', 'dhubhai']
1. Find the count of elements inside a list
2. Convert each element to uppercase in a list
3. Convert each element to lowercase in a list
4. Convert each element to camelcase in a list
5. Find the prime numbers from 1 to 100
6. Print the elements staring with 'b' in a list
7. Print the elements ending with 'i' in a list
8. Print the alternate values from alist
9. reverse the string

In [44]:
pwd

'/Users/ravidevineni/Desktop/DE_Training/7_11_22/Notebooks'

## Assignment

In [45]:
cities = ['bangalore', 'hyderabad', 'newyork', 'shangai', 'dhubhai']

In [48]:
# Find the count of elements inside a list
# len(cities)
count = 0
for city in cities:
    count += 1

print(count)

5

In [49]:
# Convert each element to uppercase in a list
cities_upper = []

for city in cities:
    cities_upper.append(city.upper())
print(cities_upper)

['BANGALORE', 'HYDERABAD', 'NEWYORK', 'SHANGAI', 'DHUBHAI']

In [50]:
# Convert each element to lowercase in a list
cities_lower = []

for city in cities:
    cities_lower.append(city.lower())
print(cities_lower)

['bangalore', 'hyderabad', 'newyork', 'shangai', 'dhubhai']

In [52]:
# Convert each element to camelcase in a list
students_camelcase = []
students = ['Boyang qin', 'Xinrui Liu', 'Jing liu']
for student in students:
    students_camelcase.append(student.title())
print(students_camelcase)

['Boyang Qin', 'Xinrui Liu', 'Jing Liu']

In [ ]:
# Print the elements staring with 'b' in a list
# Print the elements ending with 'i' in a list
# Print the alternate values from alist -- solved yesterday
# reverse the string  -- solved yesterday

In [53]:
cities_starts_b = []

for city in cities:
    cities_starts_b.append(city.startswith('b'))
print(cities_starts_b)

[True, False, False, False, False]

In [56]:
# Print the elements ending with 'i' in a list
cities_end_i = []

for city in cities:
    if city.endswith('i'):
        cities_end_i.append(city)
print(cities_end_i)

['shangai', 'dhubhai']

In [59]:
primes = []
for num in range(2,20):
    for div in range(2, num):
        if (num%div) == 0:
            break
    else:
        primes.append(num)

In [60]:
print(primes)

[2, 3, 5, 7, 11, 13, 17, 19]

In [61]:
prime = []
for num in range(2,20):
    for div in range(2, num):
        if (num%div) == 0:
            break
    else:
        prime.append(num)
print(prime)

[2, 3, 5, 7, 11, 13, 17, 19]