# Decorator, Exception Handling, Regular Expression

# decorator

In [1]:
# (add_some_functionality(function))

function1: a+b

(a+b)*c

In [12]:
# Example:

def decorate(func1):
    def inside(a, b):
        add = func1(a, b)
        return add*10
    return inside


@decorate
def addition(a,b):
    return a+b # 5


addition(2,3)

50

In [19]:
def decorate1(func1):
    def inner_func():
        print("Before Decorating")
        print(func1())
        print("After Decorating")
        print(func1() + " got decorated")
#         return inner_func
    return inner_func
    
@decorate1
def base_function():
    return "This is a base function"

In [20]:
base_function()

Before Decorating
This is a base function
After Decorating
This is a base function got decorated

# Exception Handling

try:

except:

else:

finally:

In [31]:
try:
    print("This is a try block"+ 4)
except:
    print("This is an exception block")

This is an exception block

In [30]:
"This is a try block" + 3

TypeError: can only concatenate str (not "int") to str

In [32]:
try:
    print(1/0)
except:
    print("An error occured")

An error occured

In [33]:
print(1/0)

ZeroDivisionError: division by zero

In [34]:
try:
    print(1/0)
except ZeroDivisionError:
    print("You can't divide a value with 0")

You can't divide a value with 0

In [37]:
try:
    print("This is a try block")
    print(1/0)
except ZeroDivisionError:
    print("You can't divide a value with 0")
except TypeError:
    print("You can't add string to a numeric vale")

This is a try block
You can't divide a value with 0

In [41]:
try:
    print("Execute the try block")
except ZeroDivisionError:
    print("You can't divide a value with 0")
except TypeError:
    print("You can't add string to a numeric vale")
else:
    print("Default statement executed")

Execute the try block
Default statement executed

In [42]:
try:
    print("Execute the try block")
except ZeroDivisionError:
    print("You can't divide a value with 0")
except TypeError:
    print("You can't add string to a numeric vale")
else:
    print("Default statement executed")
finally:
    print("FInal process is about to finish")

Execute the try block
Default statement executed
FInal process is about to finish

# Regular Expressions

search
findall
split--# yesterday
sub

In [43]:
import re

re methods
- search: return the matching object from the given data <br>
- findall: It returns a list of all the matches <br>
- split: split the data based on the match that can be provided <br>
- sub: Replace the matches with a proper string/data <br>

In [51]:
re.search("a", "bangalore")

In [47]:
if occurence:
    print("The given string have a match")

The given string have a match

In [65]:
re.search("value$", "Zero or some value")

In [69]:
re.findall("Its", "Its is raining now and Its normal on everyday")

['Its', 'Its']

In [71]:
re.findall("2", "12341298234")

['2', '2', '2']

In [75]:
sentence = "Python is a dynamic programming language"

re.sub(actual, replaced, input_string)

In [78]:
changed_content = re.sub("dynamic", 'Interpreter based', sentence)

In [79]:
changed_content

'Python is a Interpreter based programming language'

In [87]:
re.findall("hel.o", 'hello')

['hello']

In [88]:
re.findall("^The", 'The Program')

['The']

In [91]:
re.findall("instructions$", 'The Program is a set of instructions')

['instructions']

In [93]:
re.findall("l.*uage", 'language')

[]

In [97]:
re.findall("lan.+uage", 'language') # It should have one or more occurance

['language']

In [101]:
re.findall("lan.?uage", 'language') # It should have one or more occurance

['language']

In [104]:
re.findall("lan.{1}uage", 'language')

['language']

In [105]:
re.findall("scripting|programming", 'Python is a scripting language')

['scripting']

In [106]:
re.findall("scripting|programming", 'Python is a programming language')

['programming']

- [abc]
- [a-g]
- [^string]
- [23123]
- [2-9]
- [a-d1-3]

- \A 
- \b
- \B
- \d
- \D
- \s
- \S
- \w
- \W
- \Z

In [126]:
re.findall(r"\Bdia", "IT will have four day work culture in India")

['dia']

In [127]:
re.findall(r"\d", "IT will have four day work culture in India123")

['1', '2', '3']

In [128]:
re.findall(r"\D", "IT will have four day work culture in India123")

['I',
 'T',
 ' ',
 'w',
 'i',
 'l',
 'l',
 ' ',
 'h',
 'a',
 'v',
 'e',
 ' ',
 'f',
 'o',
 'u',
 'r',
 ' ',
 'd',
 'a',
 'y',
 ' ',
 'w',
 'o',
 'r',
 'k',
 ' ',
 'c',
 'u',
 'l',
 't',
 'u',
 'r',
 'e',
 ' ',
 'i',
 'n',
 ' ',
 'I',
 'n',
 'd',
 'i',
 'a']

?
+ 
*
^
$
[jfd]
[^jfd]
[a-v]
[1-9]

In [ ]:
\A
\b